body{
    background-color: ivory;
}

.titulo{
    font-size: 40px;
    text-align: center;
}

.txtTitulo{
    text-align: center;
    margin-bottom: 10%;
}

.subtitulo{
    border: solid;
    background-color: black;
    color: azure;
    padding-left: 15px;
    border-radius: 20px;
    width: 25%;
}

.txtSubTitulo{
    width: 70%;
    text-align: justify;
}

.txtSubTitulo2{
    width: 70%;
    margin-top: 4%;
    margin-left: 30%;
    text-align: justify;
}

hr{
    margin: 8%;
    border: solid 1.5px;
    border-radius: 10px;
}

.subtitulo2{
    border: solid;
    background-color: black;
    color: azure;
    margin-left: 70%;
    padding-left: 15px;
    border-radius: 20px;
    width: 25%;
}

.lastText{
    text-align: justify;
    margin: 3%;
}

.autor{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: small;
}